<html>
	<head>
		<title>{{title}} - Bellbird</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
        <div class="container">
            <h1>Alarms</h1>
            <ul id="alarm-list" class="list-group"></ul>

            <form>
                <label for="alarm-text">Alarm text:</label>
                <input id="alarm-text" name="alarm-text" type="text">
                <button id="submit-new" type="submit">Submit new alarm</button>
            </form>
        </div>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

        <script>
            var renderAlarms = function(alarmData) {
                var alarmListEl = $('#alarm-list');
                alarmListEl.empty();

                for (var i = 0; i < alarmData.length; i++) {
                    var alarm = alarmData[i];
                    var li = $('<li>');
                    li.addClass('list-group-item');

                    var text = alarm.id + " -- " + alarm.text + " -- Upvotes: " + alarm.upvotes;
                    li.text(text);
                    var button = $("<button>");
                    button.addClass("btn").addClass("btn-primary");
                    button.addClass("upvote-btn").attr("data-id", alarm.id).text("Upvote");
                    li.append($("<br/>"));
                    li.append(button);

                    alarmListEl.append(li);
                }

                $(".upvote-btn").on("click", function (e) {
                    var alarmId = $(this).attr("data-id");

                    $.ajax("/upvotes", {
                        method: "POST",
                        data: JSON.stringify({"alarm_id": alarmId}),
                        contentType: "application/json"
                    }).done(function (response) {
                        renderAlarms(JSON.parse(response));
                    });
                });
            };

            $(function() {
                $.ajax("/alarms").done(function (alarms) {
                    renderAlarms(JSON.parse(alarms));
                });

                $('#submit-new').on('click', function(e) {
                    e.preventDefault();
                    var alarmData = {
                        text: $('#alarm-text').val()
                    };
                    alarmData = JSON.stringify(alarmData);

                    $.ajax("/alarms", {
                        method: "POST",
                        data: alarmData,
                        contentType: "application/json"
                    }).done(function (response) {
                        renderAlarms(JSON.parse(response));

                        $.ajax("https://bellbird.joinhandshake-internal.com/push", {
                            method: "POST",
                            data: JSON.stringify(response)
                        }).done(function (pushResponse) {
                           console.log('success');
                        });
                    });

                    return false;
                });
            });
        </script>
	</body>
</html>